@font-face {
    font-family: 'Anton';
    src: url(./Anton-Regular.ttf);
}

*{
    font-family: 'Anton';
}

body{
    margin: 0;
    padding: 0;
}

p,h1 {
    font-size: 18px;
    -webkit-text-stroke-width: 0.4px;
    text-shadow: #FC0 0 0 5px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 30px 10px;

}

ul button, button{
    font-size: 20px;
    border: 2px #ff970a solid;
    border-radius: 5px;
    background-color: #ffffff;
}

a:link, a:visited, a:hover {
    color:#7d34eb;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 0;
    justify-content:flex-start;
    margin-inline: 10px;
}

#logo{
    object-fit: cover;
    min-width: 100px;
    max-width: 130px;
    width: 10%;
    margin-inline: 10px;
}

.centre{
    width: 100%;
    height: 50vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.centre p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.centre h1 {
    padding: 0;
    text-align: center;
    text-shadow: #FC0 0 0 5px;
}

#myVideo {
    position: fixed;
    z-index: -5;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.corps{
    margin-left: 5%;
    margin-right: 5%;
}